.bg-nav {
	background-color: #3E6B89;
	height: 107px;
}
.logo {
	width: 18%;
}
.titulo {
    font-family: 'Cinzel', serif;
    color: white;
    font-size: 49px;
}
.head {
	margin-top: 10px;
}
.datos {
	font-family: 'Adamina', serif;
	font-size: 21px;
	margin: 20px 0;
}
.raya {
	border: 2px solid #3E6B89;
	width: 150px;
	margin: 0 45%;
}
.liston {
	float: right;
	width: 8%;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
}
.noticia {
	color: white;
	background-color: #122D42;
	height: 345px;
	padding: 50px;
}
.user img {
	border-radius: 100%;
	height: 135px;
	width: 135px;
	border: 5px solid #3E6B89;
	padding: 5px;
}
.users {
	margin: 2% 0;
}
.footer1 {
	background-color: #101010;
	color: #707070;
   
}
.footer2 {
	background-color: #101010;
	color: #707070;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.candidatos img {
	cursor: pointer;
	width: 220px;
	height:220px;
	opacity: 0.5;
	border-radius: 100%;
}
.candidatos img:hover {
	opacity: 1;
}
.candidatos {
	margin: 30px 0;
}
.resultado {
	font-family: 'Adamina', serif;
	font-size: 17px;
	margin: 50px 0;
}
.raya2 {
	border: 2px solid #3E6B89;
	width: 100px;
	margin: 3% 35%;
}
#numContador1, #numContador2, #numContador3  {
	color: red;
	font-size: 28px;
}
.form-horizontal{
    border: 3px solid #122D42;
    color: #122D42;
    margin-top: 6%;
	border-radius: 20px;
	width:100%;
    padding: 7%;
    height: 345px;
}

.btn{
	color: #122D42;
	background: #3DD2CC;
	border: 2px solid #122D42;
	font-size: 1.5em;

}

.btn:hover{
	background: #122D42;
	color: #3DD2CC;
}

.form-control{
	border: 2px solid #3DD2CC;
}

.loginResult{
	display:none;
}

.contenedor{
	margin-top: 3%;
}

.noticias {
    margin-bottom: 4.5em;
    padding: 50px 25px 25px 25px;
    border: 2px solid rgba(45, 64, 89, 0.1);
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.noticias span img {
    border-radius: 100%;
    height: 145px;
    width: 145px;
    border: 3px solid #3E6B89;
    padding: 5px;
}